html {
  background-color: #080808;
}
body {
  color: rgb(252, 252, 252);
  margin: 0;
  height: 0;
  text-align: center;
}
main {
  margin-top: 250px;
}
footer {
  margin-bottom: 0;
}
h1 {
  font-size: 30px;
  opacity: 1;
}
p {
  font-size: 18px;
}
a {
  color: #28a745;
}
.logo {
  max-width: 60px;
}
